@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  

  section {
    padding: 5rem 9%;
  }
  
  .button {
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid #10221b;
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
  }
  
  .button:hover {
    background: #10221b;
    color: #fff;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: #10221b;
  }
  
  .heading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .heading.active {
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .heading .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: #10221b;
    font-weight: bolder;
  }
  
  .heading .logo i {
    color: red;
  }
  
  .heading .navbar a {
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #10221b;
  }
  
  .heading .navbar a:hover {
    color: blue;
  }
  
  .heading .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: #10221b;
    display: none;
  }
  
  .heading .icons a,
  .heading .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #10221b;
  }
  
  .heading .icons a:hover,
  .header .icons div:hover {
    color: black;
  }
 .btn{
    display: inline-block;
    margin-top: 1rem;
    background: orange;
    color:#fff;
    padding:.8rem 3rem;
    border:.1rem solid blue;
    cursor: pointer;
    font-size: 1.7rem;
  }
  
  .btn:hover{
    background:rgba(255, 165, 0,.2);
    color:white;
  }
  .login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background:rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form-container.active{
    top:0;
  }
  
  .login-form-container form{
    margin:2rem;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background:#fff;
    width:50rem;
  }
  
  .login-form-container form h3{
    font-size: 3rem;
    color:#444;
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
  }
  
  .login-form-container form .box{
    width:100%;
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    margin:.6rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    text-transform: none;
  }
  
  .login-form-container form .box:focus{
    border-color: var(--orange);;
  }
  
  .login-form-container form #remember{
    margin:2rem 0;
  }
  
  .login-form-container form label{
    font-size: 1.5rem;
  }
  
  .login-form-container form .btn{
    display: block;
    width:100%;
  }
  
  .login-form-container form p{
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#666;
  }
  
  .login-form-container form p a{
    color:var(--orange);
  }
  
  .login-form-container form p a:hover{
    color:#333;
    text-decoration: underline;
  }
  
  .login-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
  }
 
 .heading #menu-button {
    display: none;
  }
  
.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10000;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  section{
    padding: 5rem 9%;
  }
  .search-form.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  .search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 6rem;
  }
  
  .search-form #close-search:hover {
    color: #219150;
  }
  
  .search-form form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .search-form form input {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    text-transform: none;
    background: none;
    padding-right: 2rem;
  }
  
  .search-form form input::-webkit-input-placeholder {
    color: #aaa;
  }
  
  .search-form form input:-ms-input-placeholder {
    color: #aaa;
  }
  
  .search-form form input::-ms-input-placeholder {
    color: #aaa;
  }
  
  .search-form form input::placeholder {
    color: #aaa;
  }
  
  .search-form form label {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
  }
  
  .search-form form label:hover {
    color: #219150;
  }
.home{
    padding: 0;
}
.home .box{
    min-height: 100Vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 3rem 9%;
}
.content{
    width: 50rem;
}
.home .box span{
    font-size: 4rem;
    color: black;
}
.home .box h3{
    font-size: 6rem;
    color: white;
    text-transform: capitalize;
    padding-top: .5rem;
    text-shadow: 4px 4px 4px black;
}
.home .box p{
    font-size: 25px;
    font-weight: 100;
    color: black;
    line-height: 2;
    padding: 1rem 0;
}
.home .box  .btn{
    font-size: 25px;
    background:none;
    color: black;
    border-radius: 1.5rem;
    border: black;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 3rem;
}
.home .box  .btn:hover{
    background-color: blue;
    color: white;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2.5rem;
  color: white;
}
  /* category-list */

  .head{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: black;

  }
 .select .box-value {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 1.5rem;
 }
  .select .box-value .content{
    text-align: center;
  padding: 1rem;
  }

  .select .box-value .content img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .select .box-value .content h3 {
    font-size: 2rem;
    color: #219150;
  }
  
  .select .box-value .content p {
    font-size: 1rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
  }
  .select .box-value  .btn{
    font-size: 25px;
    background:none;
    color: black;
    border-radius: 1.5rem;
    border: white;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 3rem;
}
.select .box-value  .btn:hover{
    background-color: red;
    color:white;
}
  /* Aboutus */

  .about {
    background: #eee;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
  }
  
  .about .image img {
    width: 100%;
    -webkit-box-shadow: 4rem 4rem 0 rgba(46, 224, 10, 0.1);
            box-shadow: 4rem 4rem 0 rgba(189, 18, 18, 0.1);
  }
  
  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .about .content h3 {
    font-size: 3rem;
    color: gray;
  }
  
  .about .content p {
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
  }
  .about .content  .btn{
    font-size: 25px;
    background:none;
    color: black;
    border-radius: 1.5rem;
    border: white;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 3rem;
}
.about .content  .btn:hover{
    background-color: brown;
    color:white;
}

/* shop */

.shop .slide{
  width: 35rem;
  border: #10221b;

}
.shop .slide .image{
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}
.shop .slide .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
}

.shop .slide .image .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #10221b;
  color: #fff;
  margin: 0 .2rem;
}

.shop .slide .image .icons a:hover {
  background: #219150;
}

.shop .slide .content {
 
  text-align: center;
}

.shop .slide .content h3 {
  font-size: 2rem;
  color: #10221b;
}

.shop .slide .content .price {
  font-size: 2rem;
  color: #219150;
}

.shop .slide .content .stars i {
  font-size: 1.7rem;
  color: #10221b;
}
.packages {
  background: #eee;
}

.packages .box-containers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.packages .box-containers .boxs {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #10221b;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.packages .box-containers .boxs:hover {
  background: #10221b;
}

.packages .box-containers .boxs:hover .contents > * {
  color: #fff;
}

.packages .box-containers .boxs:hover .btns {
  border-color: #fff;
}

.packages .box-containers .boxs:hover .btns:hover {
  background: #fff;
  color: #10221b;
}

.packages .box-containers .boxs .images {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: .5rem;
}

.packages .box-containers .boxs .images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.packages .box-containers .boxs .contents {
  padding: 2rem;
}

.packages .box-containers .boxs .contents h3 {
  font-size: 2rem;
  color: #10221b;
}

.packages .box-containers .boxs .contents p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.packages .box-containers .boxs .contents .price {
  font-size: 2rem;
  color: black;
}

.services {
  background: #eee;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid #10221b;
  border-radius: .5rem;
  background: #fff;
}

.services .box-container .box:hover {
  background: #10221b;
}

.services .box-container .box:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.services .box-container .box:hover p {
  color: #fff;
}

.services .box-container .box:hover .btn {
  border-color: #fff;
  color: #fff;
}

.services .box-container .box:hover .btn:hover {
  background: #fff;
  color: #10221b;
}

.services .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}

.services .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.reviews .slide .text {
  padding: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  background: #eee;
  border-radius: .5rem;
  color: #10221b;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
}

.reviews .slide .text::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: .7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: #10221b;
}

.reviews .slide .user span {
  color: gray;
  font-size: 1.5rem;
}

.blogs .slide {
  text-align: center;
  padding: 2rem;
}

.blogs .slide img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.blogs .slide .icons {
  background: #10221b;
  border-radius: .5rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
  display: inline-block;
}

.blogs .slide .icons a {
  font-size: 1.4rem;
  color: #fff;
  margin: 0 1rem;
}

.blogs .slide .icons a:hover {
  color: red;
}

.blogs .slide .icons a i {
  padding-right: .5rem;
  color: blue;
}

.blogs .slide h3 {
  font-size: 2rem;
  color: #10221b;
}

.blogs .slide p {
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
  color: #10221b;
}

.newsletter {
  background: #eee;
}

.newsletter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.newsletter .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #10221b;
}

.newsletter .content form {
  margin-top: 2rem;
  background: #fff;
  border-radius: 5rem;
  border: 0.2rem solid #10221b;
  padding: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #10221b;
  padding: 0 1.3rem;
}

.newsletter .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #10221b;
  color: #fff;
}

.newsletter .content form .btn:hover {
  background: none;
  color: #10221b;
}

.clients .silde {
  text-align: center;
}

.clients .silde img {
  height: 12rem;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/foot.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: red;
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: #219150;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}

.footer .credit span {
  color: black;
}



























  @media (max-width: 1200px) {
    .header {
      padding: 2rem;
    }
    section {
      padding: 3rem 2rem;
    }
  }
  @media (max-width: 768px) {
    .header #menu-button {
      display: inline-block;
    }
    .header .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: #fff;
      z-index: 10000;
      width: 35rem;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header .navbar.active {
      left: 0;
      -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
              box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .header .navbar a {
      margin: 1rem 0;
      font-size: 3rem;
    }
    .header .navbar #nav-close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
  }
  @media(max-width:991px){
    html{
      font-size: 55%;
      scroll-padding-top: 7rem;
    }
    .home .box{
      padding: 2rem;
      justify-content: center;
      background-position: right !important;
    }
    .content{
      text-align: center;
    }
    h3{
      font-size: 4rem;
    }
    span{
      font-size: 3rem;
    }
  }
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .heading {
      font-size: 3rem;
    }
  }
  
